html, body {
	width:  100%;
	height: 100%;
	margin: 0px;
}

/* Hides text inputs which are bound to slider values */
input {
	display: none;
}

/* Anything that goes over canvas */
p, button {
	position: absolute;
	z-index: 1;
}

#settings p {
	color:white;
	margin-left:10px;
}

/* Tree colour slider positions */
#tree-slider-R, #tree-slider-G, #tree-slider-B {
	height: 150px;
	margin-left: 14px;
	margin-right: 20px;
	top: 180px;
	float: left;
}