html, body {
	width:  100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#myCanvas {
	position: absolute;
	height: 100%;
	width: 100%;
}

.red-slider .md-thumb:after, .red-slider .md-track{
  background-color: #ef2929 !important;
  border-color: #ef2929 !important;
}

.red-slider .md-focus-thumb, .red-slider .md-focus-ring{
  background-color: #ef2929 !important;
}

.green-slider .md-thumb:after, .green-slider .md-track{
  background-color: #8ae234 !important;
  border-color: #8ae234 !important;
}

.green-slider .md-focus-thumb, .green-slider .md-focus-ring{
  background-color: #8ae234 !important;
}

.blue-slider .md-thumb:after, .blue-slider .md-track{
  background-color: #729fcf !important;
  border-color: #729fcf !important;
}

.blue-slider .md-focus-thumb, .blue-slider .md-focus-ring{
  background-color: #729fcf !important;
}

md-sidenav.md-locked-open.fixed-pos {
  position: fixed !important;
}

.sidenav-contents {
  padding: 25px;
}
