<!doctype html>
<html ng-app="fractalTree">
	<head>
		<link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/jquery-ui.css">
		<link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="node_modules/angular-ui-slider/demo/css/slider.css">
		<link href="css/style.css" rel="stylesheet" type="text/css" />

		<script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<script src="node_modules/angular-ui-slider/src/slider.js"></script>


		<script src="js/angularApp.js"></script>
		<script src="js/ftCanvas.js"></script>
		<script src="js/ftDrawService.js"></script>
	</head>
	<body ng-controller="fractalTreeCtrl" class="container">
		<div id="red" ui-slider="colorpicker.options" ng-model="colorpicker.red"></div>
		Red: <input ng-model="colorpicker.red">
		<div id="green" ui-slider="colorpicker.options" ng-model="colorpicker.green"></div>
		Green: <input ng-model="colorpicker.green">
		<div id="blue" ui-slider="colorpicker.options" ng-model="colorpicker.blue"></div>
		Blue: <input ng-model="colorpicker.blue">
		<div id="swatch"></div>
		<ft-canvas></ft-canvas>
	</body>
</html>